.item {
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.item:hover .image {
  transform: scale(1.02);
  filter: brightness(50%);
}
